MODE=development
PORT=8080
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_INITDB_DATABASE=
MONGO_CONNECTION_STRING=mongodb://<username>:<password>@<localhost>:27017/<dbName>?authSource=admin
